{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '5.css' %}">
    <link rel="stylesheet" href="{% static '7.css' %}">
</head>
<body>
<div class="container">
    <div class="answer-wrapper">

            <input type="button" value="Посмотреть Конспекты" id="show_cons">

            <form action="{% url 'conspect:lessons_tmp' %}" method="GET">
                <input type="submit" value="Сформировать конспект" id="show_cons2">
            </form>

            {% if user.is_authenticated %}
                <form action="{% url 'accounts:logout' %}" method="GET">
                    <input type="submit" value="Выйти" id="show_cons3">
                </form>
                 <input type="button" value="Hello, {{request.user}}!" id="show_cons4">
            {% else %}
                <form action="{% url 'accounts:login' %}" method="GET">
                    <input type="submit" value="Войти" id="show_cons1">
                </form>
            {% endif %}


    </div>
    <div class="block-content">
    {% block content %}
    {% endblock %}
    </div>
    <footer>
        <div>Контакты</div>
        <div>О сайте</div>
        <div>Детское учреждение "Сад"</div>
    </footer>
</div>
</body>
</html>