{% load static %}
<!DOCTYPE html>
<html lang="en" id="hhh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '5.css' %}">

</head>

<body>

    <div class="container">
        {% block nav %}
        <div class="answer-wrapper">
            <a href="{% url 'conspect:show_all' %}"><input type="button" value="Посмотреть Конспекты" id="show_cons"></a>
            {% if request.user.is_authenticated %}
                <input type="button" value="Сохранить Конспект" id="save_cons">
            {% endif %}

            <input type="button" value="Скачать Конспект" id="get_cons">



            {% if user.is_authenticated %}
                <form action="{% url 'accounts:logout' %}" method="GET">
                    <input type="submit" value="Выйти" id="show_cons3">
                </form>
            {% if request.user.is_methodist %}
                <a href="{% url 'conspect:subj_creation' %}"><input type="button" value="Добавить предмет" id="get_cons1"></a>
                <a href="{% url 'conspect:comp_creation' %}"><input type="button" value="Добавить структурный компонент" id="get_cons2"></a>
                <a href="{% url 'conspect:answ_creation' %}"><input type="button" value="Добавить вариант" id="get_cons3"></a>
            {% endif %}

                {% if request.user.is_staff %}
                    <a href="{% url 'accounts:register' %}"><input type="button" value="Зарегистрировать пользователя" id="show_cons4"></a>
                {% endif %}
            {% else %}
                <form action="{% url 'accounts:login' %}" method="GET">
                    <input type="submit" value="Войти" id="show_cons1">
                </form>
            {% endif %}
        </div>
        {% endblock %}


    {% block content %}
        <div class="question-wrapper">
            <nav>
                <ul>
                    {% for item in subj %}
                    <li><a href="{% url 'conspect:conspect_creation' item.pk %}">{{item}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <section class="questions" id="question">
                <h3 class="questions_title">Выбери подходящий для своего конспекта вариант :</h3>
                {% for subject in subjects %}
                <div class="questions_block" id="block_1"><h4 class="title_topic">{{ subject.name }}</h4>

                    {% for answer in subject.answers.all %}
                        <label class="options"><input type='checkbox' name="{{ subject }}" value="" index = "{{ answer.id }}"> {{ answer }} </label>
                    {% endfor %}
                    <label class="options"><textarea placeholder="Свой вариант "></textarea><button>ok</button></label>
                </div>
                {% endfor %}
            </section>
            <section class="total" id="total">
                <h3 class="total_title">Результат :</h3>
                <div id="total_list"></div>
            </section>
        </div>


        <script src="{% static '6.js' %}"></script>
         <script src="{% static 'modal.js' %}"></script>
        {% endblock %}
    </div>

</body>
</html>



