{% load static %}
<!DOCTYPE html>
<html lang="en" id="hhh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <div class="container">
                {% block nav %}
        <div class="answer-wrapper">
            <a href="{% url 'conspect:show_all' %}"><input type="button" value="Посмотреть Конспекты" id="show_cons"></a>
            {% if request.user.is_authenticated %}
                <input type="button" value="Сохранить Конспект" id="save_cons">
            {% endif %}

            <input type="button" value="Скачать Конспект" id="get_cons">

            {% if user.is_authenticated %}
                <form action="{% url 'accounts:logout' %}" method="GET">
                    <input type="submit" value="Выйти" id="show_cons3">
                </form>
<!--            {% if request.user.is_methodist %}-->
<!--                <a href="{% url 'conspect:subj_creation' %}"><input type="button" value="Добавить предмет" id="get_cons1"></a>-->
<!--                <a href="{% url 'conspect:comp_creation' %}"><input type="button" value="Добавить структурный компонент" id="get_cons2"></a>-->
<!--                <a href="{% url 'conspect:answ_creation' %}"><input type="button" value="Добавить вариант" id="get_cons3"></a>-->
<!--            {% endif %}-->

            {% else %}
                <form action="{% url 'accounts:login' %}" method="GET">
                    <input type="submit" value="Войти" id="show_cons1">
                </form>
            {% endif %}
        </div>
        {% endblock %}



        <div class="question-wrapper">
            <nav class="category_list">
                <ul>
                    {% for item in subj %}
                    <li><a href="{% url 'conspect:conspect_creation' item.pk %}">{{item}}</a></li>
                    {% endfor %}
                </ul>
            </nav>

				<section class="questions" id="question">
                <h3 class="questions_title">Выбери подходящий для своего конспекта вариант :</h3>

					 <!-- Tempale question -->
                {% for subject in subjects %}
                    <div class="question_block" id="block_1">
                        <h4 class="title_topic">{{ subject.name }}</h4>
                        <div class="answers">
                            {% for answer in subject.answers.all %}
                            <div class="answer" index="{{ answer.id}}">{{answer}}</div>
                            {% endfor %}
                        </div>
                    </div>


                {% endfor %}

            </section>

			  <section class="total" id="total">
                <h3 class="total_title">Результат :</h3>


					 <!-- template result -->
<!--					 <div class="total_block" order = '0' id="totalt">-->
<!--						<h4 class="title_topic">GEOMETRY</h4>-->
<!--						<div class="results">-->
<!--						  <div class="result">Деление</div>-->
<!--					  </div>-->
<!--				    </div>-->



            </section>
        </div>
    </div>

	 <script src="{% static 'js/app.js' %}"></script>
	 <script src="{% static 'js/modal.js' %}"></script>
</body>
</html>