{% load static %}
<!DOCTYPE html>
<html lang="en" id="hhh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'table.css' %}">
<!--	<link rel="stylesheet" href="{% static 'target_consp.css' %}">-->
</head>

<body>
    <div class="container">

	{% block nav %}
		<div class="answer-wrapper">
			<a href="{% url 'conspect:show_all' %}"><input type="button" value="Посмотреть Конспекты" id="show_cons" class="top-btn"></a>
			<a href="{% url 'conspect:conspect_creation' %}"><input type="button" value="Сформировать конспект" id="get_cons1" class="top-btn"></a>

			{% if request.user.is_authenticated %}
			<form action="{% url 'accounts:logout' %}" method="GET">
				<input type="submit" value="Выйти" id="show_cons3" class="top-btn">
			</form>
			{% else %}
				<a class = 'top-btn' href="{% url 'accounts:login' %}" aria-label="entrance" id="entrance">
					Войти
                </a>
			{% endif %}
		</div>
	{% endblock %}



{% block content %}

		<form action="" method="GET" class="search_form">
			<input type="text" name="conspect_name" value="" placeholder="По названию" autocomplete="off">
			<input type="text" name="conspect_owner" value="" placeholder="По автору" autocomplete="off">
<!--			<input type="text" name="conspect_date" value="" placeholder="По дате" autocomplete="off">-->
			<input type="submit" name="" value="Искать" class="search_submit">
		</form>

		<table class="conspect_all" >
			<tbody>
				<tr>
					<th>
						<p>Название конспекта</p>
					</th>
					<th class="withBtn">
						<p>Автор</p>
					</th>
					<th>
						<p>Дата создания</p>
					</th>
				</tr>
                {% for item in conspects %}
				<tr>
					<td>
							<a href="{% url 'conspect:show_details' item.id %}">{{item.name}}</a>
					</td>
					<td>
							{{item.owner}}</td><td>{{item.date_created}}
					</td>
				</tr>
                {% endfor %}
			</tbody>
		</table>


		<!-- Пагинация -->
		<div class="pagination">
			<span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"> << </a>
                    {% endif %}
				<span class="current">
					Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
				</span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"> >> </a>
                    {% endif %}
			</span>
		</div>
    </div>
{% endblock %}
	<script src="{% static 'js/homepage_form.js' %}"></script>
</body>
</html>

