{% extends 'index.html' %}
{% load static %}



{% block content %}

<!--<ul>-->
<!--  {% for item in conspects %}-->
<!--  <li><a href="{% url 'conspect:show_consp' item.id %}">{{item.name}} by {{item.owner}}; created - {{item.date_created}}</a></li>-->
<!--  {% endfor %}-->
<!--</ul>-->



<table border="2px solid black" cellpadding="5px">


  {% for item in conspects %}
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td><a href="{% url 'conspect:show_consp' item.id %}">{{item.name}}</a></td><td>{{item.owner}}</td><td>{{item.date_created}}</td></tr>
  {% endfor %}

</table>

{% endblock %}