{% extends 'index.html' %}
{% load static %}



{% block nav %}

        <div class="answer-wrapper">
            <a href="{% url 'conspect:show_all' %}"><input type="button" value="Посмотреть Конспекты" id="show_cons"></a>

            <a href="{% url 'conspect:sort_by_user' %}"><input type="button" value="Мои конспекты" id="get_cons"></a>

            <form action="{% url 'conspect:show_all' %}" method="POST">
                {% csrf_token %}
                <a href="{% url 'conspect:show_all' %}"><input type="submit" value="По дате" id="get_cons"></a>
            </form>

            {% if user.is_authenticated %}
                <form action="{% url 'accounts:logout' %}" method="GET">
                    <input type="submit" value="Выйти" id="show_cons3">
                </form>

            {% else %}
                <form action="{% url 'accounts:login' %}" method="GET">
                    <input type="submit" value="Войти" id="show_cons1">
                </form>
            {% endif %}
        </div>

{% endblock %}



{% block content %}



<table class="conspect_all" >
      <tr><td>
            <p>Название конспекта</p>
         </td>
          <td>
            <p>Автор</p>
              <form action="{% url 'conspect:sort_by_user' %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" value="sort by user">
              </form>
          </td>
          <td>
              <p>Дата создания</p>
          </td>
          {% if user.is_authenticated and user.is_methodist %}
              <td>

              </td>
          {% endif %}
      </tr>

  {% for item in conspects %}
        <tr>
            <td>
                <a href="{% url 'conspect:show_details' item.id %}">{{item.name}}</a>
            </td>
            <td>
                {{item.owner}}</td><td>{{item.date_created}}
            </td>
            {% if request.user.is_authenticated and request.user.is_methodist %}

                <td>
                    {% if request.user == item.owner %}
                    <a href="{% url 'conspect:delete_conspect' item.pk %}"><input type="text" value="удалить конспект" id="get_cons1"></a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
  {% endfor %}

</table>


<!-- Пагинация -->

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"> << </a>
        {% endif %}
        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> >> </a>
        {% endif %}
    </span>
</div>

{% endblock %}