{% extends 'methodist_desktop.html' %}
{% load static %}



{% block content %}


    <form method="post">{% csrf_token %}
        <table border="2px" class="table__addElem">
        {% csrf_token %}
              <tr class="row__addElem"><td>{{form.name.label}} : {{form.name}}</td></tr>
                {{form.author}}
              <tr class="row__addElem"><td><input class="add_input" type="submit" name="" value="Обновить" id="author_id"></td></tr>
        </table>
    </form>

{% endblock %}

