{% extends 'saved_conspects.html' %}
{%  load static %}



	   {% block content %}
		<div class="conspect">
			<div class="title_topic">
				<input type="button" value="Печать" id="show_cons" class="print-btn" onclick="window.print()">
			</div>

{% for component in components %}

			<ol class="answers">
				<p class="answers_question">{{component}}</p>
					 {% for item in answers %}
						{% if item.structure_component == component %}
							<li class="answer">{{item}}</li>
						{% endif %}
					 {% endfor %}
			</ol>
{% endfor %}
		</div>
	   {% endblock %}
